@model Cart
@{
    var list = Model.CartItems;
}
<section class="section-cart padding-t-100">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="cr-cart-content" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="400">
                    <div class="row">
                        <form action="#">
                            <div class="cr-table-content">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>عنوان</th>
                                            <th>فی واحد</th>
                                            <th class="text-center">تعداد</th>
                                            <th>مبلغ</th>
                                            <th>پیام فروشنده</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var item in list){
                                            <partial name="_CartItemCardPartial" model=@item />
                                        } 
                                    </tbody>
                                </table>
                            </div>
                        </form>
                    </div>
                    <div class="row">
                         <div class="col-lg-12">
                             <div class="cr-cart-update-bottom">
                                 <button id="Checkout" data-cart-id=@Model.Id class="cr-button">
                                     ثبت سفارش
                                 </button>
                             </div>
                         </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
                                    