@model dynamic
@{
    var advertisments = Model.Advertisments as List<Advertisment>;
    int currentPage = Model.CurrentPage;
    int totalPages = Model.TotalPages;
}

    @{foreach (var item in advertisments)
    {
        <partial name="_AdvertismentCardPartial" model=@item/>
    }}
<nav class="cr-pagination">
    <ul class="pagination">
        @for (int i = 1; i <= totalPages; i++)
        {
            <li class="page-item @(i == currentPage ? "active" : "")">
                <a class="page-link" href="#" data-page="@i">@i</a>
            </li>
        }
    </ul>
</nav>