@model List<Cart>

<div class="container mt-5">
        <h2 class="mb-4">سبد خریدهای شما</h2>
        <table class="table table-striped table-bordered">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Cart-Id</th>
                    <th scope="col">تاریخ ثبت</th>
                    <th scope="col">تعداد اقلام</th>
                    <th scope="col">وضعیت</th>
                    <th scope="col">action</th>
                </tr>
            </thead>
            <tbody>
            @{
                foreach(var cart in Model)
                {
                    <partial name="_CartCardPartial" model=@cart/> 
                }
            }
            </tbody>
        </table>
</div>
