@using System.Globalization
@model Cart
@{
    CultureInfo culture = new CultureInfo("fa-IR",true);
}
<tr>
    <td>@Model.Id</td>
    <td>@Model.FinalisedDate.GetDateTimeFormats('g',culture).FirstOrDefault()</td>
    <td>@Model.CartItems.Count</td>
    <td>@{
            var status = (Model.HasFinalised) ? "نهایی شده" : "فعال";
        }
        @status
    </td>
    <td><a asp-controller="Order" asp-action="Cart" asp-route-id=@Model.Id class="btn btn-primary btn-sm">نمایش</a></td>
</tr>