<form class="cr-search">
    <input class="search-input" type="text" placeholder=" جستجو...">
    <select class="form-select" aria-label="Default select example">
        <option selected>همه دسته‌بندی‌ها</option>
    </select>
    <a href="javascript:void(0)" class="search-btn">
        <i class="ri-search-line"></i>
    </a>
</form>