<p>Admin Panel</p>
<ul>
    <li><a asp-area="Admin" asp-controller="User" asp-action="Index">کاربران</a></li>
    <li><a asp-area="Admin" asp-controller="Advertisment" asp-action="Index">آگهی‌ها</a></li>
</ul>