@model List<ApplicationUser>

<div class="container mt-5">
        <h2 class="mb-4">حساب‌های جدید</h2>
        <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th scope="col">نام کاربری</th>
                <th scope="col">نقش</th>
                <th scope="col">action</th>
            </tr>
        </thead>
        <tbody>
        @foreach(var user in Model)
        {
            <partial name="_UserListItemPartial" model=user/>
        }
        </tbody>
</table>