@{
    ViewData["Title"] = "MoboFix";
}
<section class="section-shop padding-tb-100">
    <div class="container">
        <div class="row">
            <div class="col-12 aos-init aos-animate" data-aos="fade-up" data-aos-duration="2000" data-aos-delay="600">
                <div class="row">
                    <div class="col-12">
                        <div class="cr-shop-bredekamp">
                            <div class="cr-toggle">
                                <a href="javascript:void(0)" class="gridCol active-grid">
                                    <i class="ri-grid-line"></i>
                                </a>
                                <a href="javascript:void(0)" class="gridRow">
                                    <i class="ri-list-check-2"></i>
                                </a>
                            </div>
                                <a href="javascrtipt:void" id="addToCartButton" data-product-id=22>
                                    <i class="ri ri-add-fill"></i>
                                </a>
                            <div class="center-content">
                                <span>محصولات ... </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="advertisment-list" class="row col-50 mb-minus-24">

                </div>
                <div id="pagination" aria-label="..." class="cr-pagination">
                    <!-- Pagination buttons will be loaded here via AJAX -->
                </div>    
            </div>
        </div>
    </div>
</section>



@section Scripts {
    <script>
        $(document).ready(function () {
            loadProducts(1);

            function loadProducts(page) {
                $.ajax({
                    url: 'Home/GetAdvertisments',
                    data: { page: page },
                    type: 'GET',
                    success: function (data) {
                        $('#advertisment-list').html(data);
                    }
                });
            }

            $(document).on('click', '.page-link', function (e) {
                e.preventDefault();
                const page = $(this).data('page');
                loadProducts(page);
            });
        });
    </script>
}

